.pfpAndStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}

.container{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.pfp {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid black;
    background: white;
}

.online,
.offline {
    margin: 0;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
}

.offline {
    color: red;
    font-weight: 600;
}

.online {
    color: rgb(0, 223, 85);
    font-weight: 600;
}
.fullName:hover {
    opacity: 0.5;
}

.fullName {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.delete:hover{
    opacity: 0.7;
}


.delete{
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    background:  red;
    color: white;
    font-size: 18px;
}